.button {
  background-color: #0e232e;
  cursor: pointer;
  border-radius: 4px;
  color: #f6dede;
  font-size: 14px;

  border-color: #6f3a3a;
}
.button:hover {
  background-color: rgba(224, 142, 75, 0.809);
  font-weight: 600;
}
